script(src="/lib/jquery.min.js", type="text/javascript", charset="utf-8")
script(src="/lib/admin.js", type="text/javascript", charset="utf-8")
script(src="/lib/ckeditor/ckeditor.js", type="text/javascript", charset="utf-8")
script(type="text/javascript")
div(class="col-md-12 header-admin")
	button(class="btn btn-primary pull-right saveAll")
		span PUBLICAR
		span(class="glyphicon glyphicon-bullhorn saveadmin")

div(class="col-md-2 admin-left")
	ul
		li.head-admin PAGINAS
			span(class="glyphicon glyphicon-plus-sign pull-right add")
div(class="col-md-10 body-admin")
	form 
		textarea(id="ckeditor", name="editor1", class="ckeditor")
		div(class="col-md-12")
			button(class="btn btn-primary btn-lg push-right submit")
				span GUARDAR 
#paginas	
	div(class="slides", id="slides")