
body {
    font-family: monospace;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
}

li {
    margin: 1em;
}

#slides {
    font-size: 150%;
    top: 25%;
}

.slide {
    display: none;
    vertical-align: middle;
    padding: 3em;
}

.active {
    display: inline-block;
}

.slide .speaker {
    display: none;
}


#manage {
    text-align: center;
}

#manage #speaker-note {
    text-align: left;
}

#manage h1 {
    font-size: 3em;
}

#manage button {
    width: 45%;
    height: 100px;
}


#footer {
    font-size: 2em;
    position: absolute;
    bottom: 0px;
}

#footer-right {
    font-size: 1em;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#footer-right * {
    color: red;
}

/* ADMIN */

.header-admin{ background-color: #222222; padding:10px 0; }
.admin-left{
    background-color: #222222;
    position: fixed;
    padding:0 !important;
    background-position: left top;
    min-height: 100%;
}

.admin-left ul{ margin:0 !important;padding: 0 !important;}
.admin-left li{
    cursor: pointer;
    padding:10px !important;
    margin: 0 !important;
    list-style-type: none;
    border-top:1px solid rgba(255, 255, 255, 0.30); 
    border-bottom:1px solid rgba(255, 255, 255, 0.30); 
}
.admin-left a{ cursor: pointer; }

.admin-left li:nth-child(1){
    color:#FFFFFF; 
    border:#222222 !important;
    padding: 10px !important;
}

.admin-left .activo{
    color:#05A0CB;
    background-color: #2b2d36;
    
}

.admin-left li:hover:not(.head-admin){
    color:#05A0CB;
    background-color: #2b2d36;
    
}
.admin-left li{ color:#056D89; padding-left: 40px !important; }

.admin-left .add{ cursor: pointer; }

.body-admin{ padding:0 !important; }

.saveadmin{ padding:0 10px !important; }

.paginas-admin{ padding:0 10px; }

.preview{
    height: 300px;overflow: auto;
}